@import "tailwindcss";

.footer-text-group {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer-keek-text {
  color: #040815;
  text-align: justify;
  font-family: "Space Grotesk";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 80%; /* 19.2px */
  letter-spacing: -0.72px;
}

.footer-subtext {
  width: 206px;
  color: var(--Secondary-400, #596780);
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
  letter-spacing: -0.36px;
}

/* Gap between lists updated to 186px */
.footer-list-wrapper {
  margin-left: 186px;
}

.footer-list {
  display: flex;
  flex-direction: column;
}

.footer-list-heading {
  color: var(--Secondary-500, #1A202C);
  text-align: justify;
  font-family: "Plus Jakarta Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 30px */
  letter-spacing: -0.4px;
  margin-bottom: 32px;
}

.footer-list-item {
  color: var(--Secondary-400, #596780);
  text-align: justify;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: -0.32px;
  margin-bottom: 24px;
}

.footer-list-item:last-child {
  margin-bottom: 0;
}

/* Second List for Legal */
.footer-legal-list-wrapper {
  margin-left: 186px;
}

.footer-legal-list {
  display: flex;
  flex-direction: column;
}

.footer-legal-list-heading {
  color: var(--Secondary-500, #1A202C);
  text-align: justify;
  font-family: "Plus Jakarta Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 30px */
  letter-spacing: -0.4px;
  margin-bottom: 32px;
}

.footer-legal-list-item {
  color: var(--Secondary-500, #1A202C);
  text-align: justify;
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
  letter-spacing: -0.36px;
  margin-bottom: 24px;
}

.footer-legal-list-item:last-child {
  margin-bottom: 0;
}

/* Third List for Social/Follow Us */
.footer-social-list-wrapper {
  margin-left: 186px;
}

.footer-social-list {
  display: flex;
  flex-direction: column;
}

.footer-social-list-heading {
  color: var(--Secondary-500, #1A202C);
  text-align: justify;
  font-family: "Plus Jakarta Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 30px */
  letter-spacing: -0.4px;
  margin-bottom: 32px;
}

.footer-social-list-item {
  color: var(--Secondary-400, #596780);
  text-align: justify;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: -0.32px;
  margin-bottom: 24px;
}

.footer-social-list-item:last-child {
  margin-bottom: 0;
}

/* Copyright Text */
.footer-copy {
  width: 1200px;
  color: var(--Secondary-400, #596780);
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
  letter-spacing: -0.32px;
}

.heading-h2 {
  color: #101828;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px; /* 122.222% */
  letter-spacing: -0.72px;
}

.call-to-action-container {
  width: 1440px;
  height: 570px;
  padding-top: 120px;
  padding-left: 120px;
  background: var(--Secondary-700, #0D121F);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.download-now-text {
  color: #1A71F6;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 30px */
  letter-spacing: -0.4px;
}

.journey-text {
  margin-top: 12px;
  color: #FFF;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 60px */
  letter-spacing: -1.2px;
}


.brand-text {
  margin-top: 24px;
  color: #596780;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
  letter-spacing: -0.4px;
}

.demo-button {
  height: 52px;
  width: 187px;
  margin-top: 24px;
  padding: 10px 24px;
  border-radius: 30px;
  background: #1A71F6;
  color: #FFF;
  text-align: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  letter-spacing: -0.32px;
  border: none;
  cursor: pointer;
}


.call-to-action-icon {
  width: 708px; /* Adjust as needed */
  height: 450px; /* Adjust as needed */
  object-fit: contain; /* Ensures that the SVG maintains its aspect ratio */
}

.callimg-2{
  width: 265px;
  height: 455px;
  position: absolute;
  right: 350px;
  bottom: -15px;
  border-radius: 7.79px;
}

.growth-text {
  color: #101828;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 50.178px; /* 167.259% */
  letter-spacing: -0.6px;
}

.contact-text {
  color: #101828;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  margin-top: 5.02px;
}


.label-text {
  color: #101828;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16.726px; /* 139.382% */
}

.input-field {
  width: 575.37px;
  height: 41.07px;
  border-radius: 6.69px;
  padding: 10px;
  border: 1px solid #d0d5dd;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  color: #101828;
}

.question-text {
  color: #344054;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16.726px; /* 139.382% */
}

.checkbox-label {
  color: #344054;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16.726px; /* 139.382% */
}

.question-text {
  color: #101828;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16.726px; /* 139.382% */
}

button span {
  color: #fff;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20.071px; /* 143.365% */
}
